<template>
    <!--<div class="vue-tempalte">
        <form>
            <h3>Sign Up</h3>

            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control form-control-lg"/>
            </div>

            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control form-control-lg" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control form-control-lg" />
            </div>

            <button type="submit" class="btn btn-dark btn-lg btn-block">Sign Up</button>

            <p class="forgot-password text-right">
                Already registered 
                <router-link :to="{name: 'login'}">sign in?</router-link>
            </p>
        </form>
    </div>-->
	<div class="container">
    <img class="wave" src="https://legasoft.net/assets/images/wave.png" alt="">
		<div class="img">
			<img src="https://legasoft.net/assets/images/bg.svg">
		</div>
		<div class="login-content">
			<form action="#">
            <img src="https://legasoft.net/assets/images/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email</h5>
           		   		<input type="email" class="input" v-model="email" autofocus  required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input"  v-model="password"  required>
            	   </div>
                    <!--<template class="red--text" v-if="errorM">
                        {{errorM}}
                    </template>-->
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input @click="ingresar()" class="btn" value="Login">
            </form>
             <!--<v-card-text>
                    <v-text-field v-model="email" autofocus color="accent" label="Email" required>
                    </v-text-field>
                    <v-text-field v-model="password" type="password" color="accent" label="Password" required>
                    </v-text-field>
                    <v-flex class="red--text" v-if="errorM">
                        {{errorM}}
                    </v-flex>
                </v-card-text>
                <v-card-actions class="px-3 pb-3">
                    <v-flex text-xs-right>
                        <v-btn @click="ingresar()" color="primary">Ingresar</v-btn>
                    </v-flex>
                </v-card-actions>-->
        </div>
    </div>
</template>
<style>
 @import  './../../assets/css/login.css';
</style>
<script>
  import axios from 'axios';
  
export default {
    data (){
        return{
            email:'',
            password:'',
            errorM:null
        }
    },
    methods:{
        ingresar(){
            axios.post('api/usuario/login',{email: this.email, password: this.password})
            .then(respuesta =>{
                return respuesta.data;
            })
            .then(data =>{
                console.log('Bien aqui estamos',data);
                this.$store.dispatch("guardarToken",data.tokenReturn);
                console.log('MMMM HASTA QUI');
                this.$router.push({name: 'home'});
            })
            .catch(error =>{
                //console.log(eror);
                this.errorM=null;
                if (error.response.status==404){
                    this.errorM='No existe el usuario o las credenciales son incorrectas.';
                } else{
                    this.errorM='Ocurrió un error con el servidor.';
                }
            });
        }
    }
}
</script>